<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main/public::head}"></head>
<body>
<!--头部-->
<header th:replace="~{main/public::head_title}" class="publicHeader"></header>

<!--主体内容-->
<section class="publicMian ">
    <div th:replace="~{main/public::left(activeUri='provider')}" class="left"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面</span>
        </div>
        <form id="searchForm" th:action="@{/providers}" method="get">
            <div class="search">
                <span>供应商名称：</span>
                <input th:value="${providerName}" required type="text" name="providerName" placeholder="请输入供应商的名称"/>
                <input onclick="$('#searchForm').submit()" type="button" value="查询"/>
                <a th:href="@{/provider}">添加供应商</a>
            </div>
        </form>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">供应商编码</th>
                <th width="20%">供应商名称</th>
                <th width="10%">联系人</th>
                <th width="10%">联系电话</th>
                <th width="10%">传真</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            <tr th:each="p: ${providers}">
                <td th:text="${p.providerCode}"></td>
                <td th:text="${p.providerName}"></td>
                <td th:text="${p.people}"></td>
                <td th:text="${p.phone}"></td>
                <td th:text="${p.fax}"></td>
                <td th:text="${#dates.format(p.createDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{/provider/}+${p.pid}"><img th:src="@{/img/read.png}" alt="查看" title="查看"/></a>
                    <a th:href="@{/provider/}+${p.pid}+'?type=update'"><img th:src="@{/img/xiugai.png}" alt="修改" title="修改"/></a>
                    <a th:attr="del_uri=@{/provider/}+${p.pid}" href="#" class="delete"><img th:src="@{/img/schu.png}" alt="删除" title="删除"/></a>
                </td>
            </tr>
        </table>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post" id="deleteForm">
    <input type="hidden" name="_method" value="delete">
    <div class="remove" id="removeProv">
        <div class="removerChid">
            <h2>提示</h2>
            <div class="removeMain">
                <p>你确定要删除吗？</p>
                <a href="#" id="yes">确定</a>
                <a href="#" id="no">取消</a>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/js.js}"></script>

</body>
</html>