<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main/public::head}"></head>
<body>
<!--头部-->
<header th:replace="~{main/public::head_title}" class="publicHeader"></header>

<!--主体内容-->
<section class="publicMian">
    <div th:replace="~{main/public::left(activeUri='bill')}" class="left"></div>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 信息查看</span>
        </div>
        <div class="providerView">
            <p><strong>帐单编号：</strong><span th:text="${bill.billCode}"></span></p>
            <p><strong>商品名称：</strong><span th:text="${bill.billName}"></span></p>
            <p><strong>商品单位：</strong><span th:text="${bill.billCom}"></span></p>
            <p><strong>商品数量：</strong><span th:text="${bill.billNum}"></span></p>
            <p><strong>总金额：</strong><span th:text="${bill.money}"></span></p>
            <p><strong>供应商：</strong><span th:text="${bill.providerName}"></span></p>
            <p><strong>是否付款：</strong><span th:text="${bill.pay == 1 ? '已付款' : '未付款' }"></span></p>
            <p><strong>创建时间：</strong><span th:text="${#dates.format(bill.createDate, 'yyyy-MM-dd')}"></span></p>

            <a onclick="history.back(-1)" href="#">返回</a>
        </div>
    </div>
</section>


</body>
</html>